body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#0b0b0b;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:black;
}

.tagline{
    font-size:13px;
    color:#f5c518;
}

nav a{
    color:white;
    margin-left:20px;
    text-decoration:none;
}

nav a:hover{
    color:#e50914;
}

.hero{
    height:90vh;
    background:url('../images/hero.jpg') center/cover;
    display:flex;
    align-items:center;
    padding-left:60px;
}

.btn{
    background:#e50914;
    padding:12px 25px;
    border:none;
    color:white;
    cursor:pointer;
    border-radius:4px;
    text-decoration:none;
}

.section{
    padding:60px 40px;
    text-align:center;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:#141414;
    padding:20px;
    border-radius:10px;
    width:280px;
}

.card img{
    width:100%;
    border-radius:8px;
}

footer{
    background:black;
    text-align:center;
    padding:30px;
}

/* WhatsApp Button */

.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25d366;
    color:white;
    padding:15px;
    border-radius:50%;
    font-size:20px;
    text-decoration:none;
}
